<section class="container" data-ng-controller="AnswerQuestionsController" ng-init="find()">
  <h1 class="text-center"
      ng-show="answerQuestions.length > 0">
    Responda as sequintes perguntas
  </h1>
  <br ng-show="error" />
  <div ng-show="error"
       class="alert alert-danger">
    <button type="button" class="close" ng-click="error = ''">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    {{ error }}
  </div>
  <div ng-repeat="test in answerQuestions">
    <hr />
    <form class="form-horizontal" role="form">
      <h3 class="form-group"
          ng-init="startCountDown(test)">
        {{ $index + 1 }}) {{ test.question.text }}
      </h3>
      <div class="form-group radio" ng-repeat="a in test.question.answers track by $index">
        <label ng-click="answers[test._id] = $index">
          <input type="radio" ng-model="answers[test._id]" ng-value="$index">
          {{a}}
        </label>
      </div>
      <br />
      <div class="form-group">
        <p class="text-warning">
          Você tem até {{ test.end | date : 'dd/MM/yyyy HH:mm'}} para responder
        </p>
        <button class="btn btn-primary"
                ng-click="update(test._id)"
                ng-disabled="answers[test._id] === undefined">
          Responder
        </button>
        <span ng-show="success[test._id]"
              class="text-success">
          {{ success[test._id] }}
        </span>
      </div>
    </form>
  </div>
</section>