<section ng-controller="KnowledgeTestsController"
         ng-init="loadOptions()">
  <div class="page-header text-center">
    <h1>Nova Avaliação</h1>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
    <form i-form="create()">
      <i-form-field type="select"
                    label="Turma"
                    model="classroom"
                    placeholder="Selecione uma turma"
                    validators="{required: 1}"
                    options="classrooms">
      </i-form-field>
      <i-form-field type="select"
                    label="Pergunta"
                    model="question"
                    placeholder="Selecione uma pergunta"
                    validators="{required: 1}"
                    options="questions">
      </i-form-field>
      <i-form-field type="date"
                    label="Data Início"
                    model="startDate">
      </i-form-field>
      <i-form-field type="time"
                    label="Hora Início"
                    model="startTime">
      </i-form-field>
      <i-form-field type="time"
                    label="Tempo de Avaliação"
                    model="testTime"
                    placeholder="Tempos em Hora:Minuto">
      </i-form-field>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7 text-center">
          <input type="submit" class="btn btn-primary" value="Salvar">
          <a href="#!/knowledge-tests" class="btn btn-danger">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>