<section ng-controller="KnowledgeTestsController" ng-init="findOneEdit()">
  <div class="page-header text-center">
    <h1>Editar Avaliação</h1>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
    <div class="row form-group">
      <label class="col-sm-3 control-label text-right">Turma</label>
      <div class="col-sm-9">{{ knowledgeTest.classroom.name }}</div>
    </div>
    <div class="row form-group">
      <label class="col-sm-3 control-label text-right">Pergunta</label>
      <div class="col-sm-9">{{ knowledgeTest.question.text }}</div>
    </div>
    <form i-form="update()">
      <i-form-field type="date"
                    label="Data Início"
                    model="startDate"
                    validators="{'required': 1}">
      </i-form-field>
      <i-form-field type="time"
                    label="Horário de Início"
                    model="startTime"
                    validators="{'required': 1}">
      </i-form-field>
      <i-form-field type="time"
                    label="Tempo de Avaliação"
                    model="testTime"
                    placeholder="Tempos em Hora(s) / Minuto(s)"
                    validators="{'required': 1}">
      </i-form-field>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7 text-center">
          <input type="submit" class="btn btn-primary" value="Atualizar">
          <a href="#!/knowledge-tests/{{ knowledgeTest._id }}" class="btn btn-danger">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>