<section ng-controller="KnowledgeTestsController" ng-init="findOneView()">
	<div class="page-header">
    <small class="list-group-item-text">
      Turma: {{ knowledgeTest.classroom.name }}
    </small>
    <h1 class="list-group-item-heading">
      Pergunta: {{ knowledgeTest.question.text }}
    </h1>
    <small class="list-group-item-text">
      Período: {{ knowledgeTest.start | date : 'dd/MM/yyyy HH:mm'}} -
      {{ knowledgeTest.end | date : 'dd/MM/yyyy HH:mm'}}
    </small>
	</div>
  <progressbar class="progress-striped active"
               value="(knowledgeTest.answers.length / knowledgeTest.classroom.students.length) * 100"
               type="primary">
    <i>{{ knowledgeTest.answers.length }} / {{ knowledgeTest.classroom.students.length}}</i>
  </progressbar>
  <div class="row" ng-show="knowledgeTest.answers.length == 0">
    Nenhum aluno respondeu até o momento!
  </div>
  <div class="row" ng-show="knowledgeTest.answers.length > 0">
    <div class="col-md-6">
      <div google-chart chart="answersChart" style="height:300px; width:100%;"></div>
    </div>
    <div class="col-md-6">
      <div google-chart chart="correctAnswerChart" style="height:300px; width:100%;"></div>
    </div>
  </div>
	<div class="pull-right">
    <a class="btn btn-primary" href="/#!/knowledge-tests">
      <i class="glyphicon glyphicon-circle-arrow-left"></i>
    </a>
		<a class="btn btn-primary"
       ng-show="authentication.user._id == knowledgeTest.user._id"
       href="/#!/knowledge-tests/edit/{{knowledgeTest._id}}">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
	</div>
</section>