<section ng-controller="KnowledgeTestsController" ng-init="findOneView()">
	<div class="page-header">
    <small class="list-group-item-text">
      Turma: {{ knowledgeTest.classroom.name }}
    </small>
    <h1 class="list-group-item-heading">
      Pergunta: {{ knowledgeTest.question.text }}
    </h1>
    <small class="list-group-item-text">
      Período: {{ knowledgeTest.start | date : 'dd/MM/yyyy HH:mm'}} -
      {{ knowledgeTest.end | date : 'dd/MM/yyyy HH:mm'}}
    </small>
	</div>
  <div class="row" ng-show="knowledgeTest.answers.length > 0">
    <div class="col-md-6">
      <div google-chart chart="answersChart" style="height:300px; width:100%;"></div>
    </div>
    <div class="col-md-6">
      <div google-chart chart="correctAnswerChart" style="height:300px; width:100%;"></div>
    </div>
  </div>
  <div class="row" ng-show="knowledgeTest.answers.length == 0">
    Nenhum aluno respondeu até o momento!
  </div>
	<div class="pull-right" ng-show="authentication.user._id == knowledgeTest.user._id">
		<a class="btn btn-primary" href="/#!/knowledge-tests/{{knowledgeTest._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>