<section data-ng-controller="ClassroomsController"
         ng-init="findStudents();">
  <div class="page-header text-center">
    <h1>Nova Turma</h1>
  </div>
  <div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal" data-ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Nome</label>

          <div class="controls">
            <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Nome" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="students">Alunos</label>

          <div class="controls">
            <span ng-repeat="s in allStudents | orderBy:displayName"
                  ng-show="students.indexOf(s._id) !== -1">
              <button type="button"
                      class="btn btn-info"
                      ng-click="students.splice(students.indexOf(s._id), 1)"
                      title="Remover">
                <span class="glyphicon glyphicon-remove"></span> {{s.displayName}}
              </button>
            </span>
            <span class="help-block" ng-show="students.length == 0">Selecione alguns alunos abaixo</span>
            <hr ng-show="students.length !== allStudents.length"/>
            <span ng-repeat="s in allStudents | orderBy:displayName"
                  ng-show="students.indexOf(s._id) === -1">
              <button type="button"
                      class="btn btn-default"
                      ng-click="students.push(s._id)"
                      title="Selecionar">
                <span class="glyphicon glyphicon-plus"></span> {{s.displayName}}
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Salvar">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>