<section ng-controller="ClassroomsController"
         ng-init="findStudents(); studentsIds();">
  <div class="page-header text-center">
    <h1>Editar Turma</h1>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
    <form i-form="update()">
      <i-form-field type="text"
                    label="Nome"
                    model="classroom.name"
                    validators="{required: 1}"
                    placeholder="Nome da turma">
      </i-form-field>
      <i-form-field type="button-select"
                    label="Alunos"
                    model="classroom.students"
                    placeholder="Selecione alguns alunos abaixo"
                    options="allStudents">
      </i-form-field>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7 text-center">
          <input type="submit" class="btn btn-primary" value="Atualizar">
          <a href="#!/classrooms/{{ classroom._id }}" class="btn btn-danger">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>