<section ng-controller="ClassroomsController"
         ng-init="findStudents(); studentsIds();">
  <div class="page-header text-center">
    <h1>Editar Turma</h1>
  </div>
  <div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal" ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Nome</label>

          <div class="controls">
            <input type="text" ng-model="classroom.name" id="name" class="form-control" placeholder="Nome"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="students">Alunos</label>

          <div class="controls">
            <span ng-repeat="s in allStudents | orderBy:displayName"
                  ng-show="classroom.students.indexOf(s._id) !== -1">
              <button type="button"
                      class="btn btn-info"
                      ng-click="classroom.students.splice(classroom.students.indexOf(s._id), 1)"
                      title="Remover">
                <span class="glyphicon glyphicon-remove"></span> {{s.displayName}}
              </button>
            </span>
            <span class="help-block" ng-show="classroom.students.length == 0">Selecione alguns alunos abaixo</span>
            <hr ng-show="classroom.students.length !== allStudents.length"/>
            <span ng-repeat="s in allStudents | orderBy:displayName"
                  ng-show="classroom.students.indexOf(s._id) === -1">
              <button type="button"
                      class="btn btn-default"
                      ng-click="classroom.students.push(s._id)"
                      title="Selecionar">
                <span class="glyphicon glyphicon-plus"></span> {{s.displayName}}
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Atualizar" class="btn btn-primary">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>