<section ng-controller="ClassroomsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="classroom.name"></h1>
  </div>
  <ol>
    <li ng-repeat="s in classroom.students">{{ s.displayName }}</li>
  </ol>
  <div class="pull-right">
    <a class="btn btn-primary" href="/#!/classrooms">
      <i class="glyphicon glyphicon-circle-arrow-left"></i>
    </a>
    <a class="btn btn-primary"
       ng-show="authentication.user._id == classroom.user._id"
       href="/#!/classrooms/edit/{{classroom._id}}">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
  </div>
</section>