<section ng-controller="KnoledgeTestsController"
         ng-init="loadOptions()">
  <div class="page-header text-center">
    <h1>Nova Avaliação</h1>
  </div>
  <div class="col-sm-offset-3 col-sm-6">
    <form class="form-horizontal" ng-submit="create()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="classroom">Turma</label>

          <div class="controls">
            <select ng-model="classroom" name="classroom" class="form-control" required ng-options="c.name for c in classrooms track by c._id"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="question">Pergunta</label>

          <div class="controls">
            <select ng-model="question" name="question" class="form-control" required ng-options="q.text for q in questions track by q._id"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="start">Início</label>

          <div class="controls">
            
          </div>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Salvar">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>