<section ng-controller="KnoledgeTestsController" ng-init="find()">
  <div class="page-header">
    <h1>Avaliações de conhecimento</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="knoledgeTest in knoledgeTests"
       ng-href="#!/knoledge-tests/{{knoledgeTest._id}}"
       class="list-group-item">
      <small class="list-group-item-text">
        Turma: {{ knoledgeTest.classroom.name }}
      </small>
      <h4 class="list-group-item-heading">
        Pergunta: {{ knoledgeTest.question.text }}
      </h4>
      <small class="list-group-item-text">
        Período: {{ knoledgeTest.start | date : 'dd/MM/yyyy HH:mm'}} -
        {{ knoledgeTest.end | date : 'dd/MM/yyyy HH:mm'}}
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-hide="!knoledgeTests.$resolved || knoledgeTests.length">
    Nenhuma avaliação cadastrada, <a href="/#!/knoledge-tests/create">cadastre uma</a>?
  </div>
</section>