<section ng-controller="KnoledgeTestsController" ng-init="findOne()">
	<div class="page-header">
    <small class="list-group-item-text">
      Turma: {{ knoledgeTest.classroom.name }}
    </small>
    <h1 class="list-group-item-heading">
      Pergunta: {{ knoledgeTest.question.text }}
    </h1>
    <small class="list-group-item-text">
      Período: {{ knoledgeTest.start | date : 'dd/MM/yyyy HH:mm'}} -
      {{ knoledgeTest.end | date : 'dd/MM/yyyy HH:mm'}}
    </small>
	</div>
	<div class="pull-right" ng-show="authentication.user._id == knoledgeTest.user._id">
		<a class="btn btn-primary" href="/#!/knoledge-tests/{{knoledgeTest._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>