<section>
  <div ng-if="user.roles && user.roles.indexOf('student') !== -1">
    <div class="page-header text-center">
      <h1>Perguntas a serem respondidas</h1>
    </div>
    <i-list-detail resource="KnowledgeTestAnswers"
                   view="app/views/knowledge-test-answers/form.html"
                   where="{open: true}">
    </i-list-detail>
  </div>
  <div ng-if="user.roles && user.roles.indexOf('professor') !== -1">
    <div class="page-header text-center">
      <h1>Avaliações em andamento</h1>
    </div>
    <i-list-detail resource="KnowledgeTests"
                   view="app/views/knowledge-tests/detail.html"
                   where="{open: true}">
    </i-list-detail>
  </div>
  <div ng-if="!user.roles">
    <div class="jumbotron text-center">
      <h1>Open Peer Instruction</h1>
      <p class="lead">
        Ferramenta utilizada por professores, para aplicar a
        metodologia do Peer Instruction em sala de aula.
      </p>
      <img src="../../assets/images/peer_instruction.png">
    </div>
  </div>
</section>
