<section ng-controller="QuestionsController" ng-init="findOne()">
  <div class="page-header text-center">
    <h1>Editar Turma</h1>
  </div>
  <div class="col-sm-offset-2 col-sm-8">
    <form i-form="update()">
      <i-form-field type="textarea"
                    label="Pergunta"
                    model="question.text"
                    validators="{required: 1}"
                    placeholder="Descrição da pergunta">
      </i-form-field>
      <i-form-field type="string-list"
                    label="Alternativas"
                    model="question.answers"
                    placeholder="Adicionar Alternativa"
                    validators="{required: [1, 'Campo obrigatório, preencha corretamente as alternativas!']}">
      </i-form-field>
      <i-form-field type="radio"
                    label="Alternativa Correta"
                    model="question.rightAnswer"
                    validators="{required: 1}"
                    options="options">
      </i-form-field>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7 text-center">
          <input type="submit" class="btn btn-primary" value="Atualizar">
          <a href="{{ '#!/questions/' + question._id }}" class="btn btn-danger">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>